.cards {
  border-radius: 10px; 
  margin: 15px;
}

.grid {
  max-height: 550px;
  /* overflow: scroll; */
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.p{
  font-family: sans-serif;
}