.space{
  padding-top: 8px;
}

.space1{
  padding-top: 8px;
  font-size: large;
}

h4{
  text-align: center;
}

p{
  font-weight: bold;
}

.modalstyle .modal-content{
  background-color: "white";
  border-radius: 10px;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
}

